@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');


*{padding: 0;
  margin: 0;}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 75%;
    margin: 0 auto;
    padding-top: 89px;
}

.text{
    text-align: center;
    margin-bottom: 4rem;
}

h1{
    font-size: 2.4rem;
}

.text p{
    font-size: 15.72px;
    width: 60%;
    margin: 0 auto;
    color: var(--Grayish-Blue);
}

.box{
    padding: 28px;
    border-radius: 7px;
    box-shadow: 0px 14px 30px 0px var(--Very-Light-Gray);
    display: flex;
    flex-direction: column;
}

img{
    width: 58px;
    height: 58px;
    align-self: end;
}

.box p{
    font-size: 13.624px;
    margin-bottom: 2rem;
    color: var(--Grayish-Blue);
}

.box h3{
    font-size: 20.96px !important;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.boxes{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 4rem;

}

.box-one, .box-three{
    display: flex;
    align-self: center;
}

.red{
    margin-bottom: 25px;
    border-top: 4px solid var(--Red);    
}
.green{
    border-top: 4px solid var(--Cyan);
}
.blue{
    border-top: 4px solid var(--Blue);
}
.orange{
    border-top: 4px solid var(--Orange);
}

:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);


    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(229, 40%, 92%);
}


@media screen and (max-width: 800px) {
    .boxes{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 4rem;
    }

    .text h1{
        font-size: 1.6rem;
    }

    .tech{
        margin-bottom: 1rem;
    }

    .text p{
        width: 100%;
    }

    .container{
        width: 85%;
    }

    .box-one, .box-three{
        display: block;
    }
}